.Button.Icon {
    color: red;
}

.Button {
    /* background-color: red;  */
}

.Panel {
    background-color: orange; 
}

.Panel.open {
    transition: all ease 0.5s;
}

.Overlay {
    background-color: green; 
}

.Modal {
    background-color: blue; 
}

.Popup {
    background-color: yellow; 
}



.custom-ribbons-container {
    /* background-color: orange;  */
}

.ribbons-container {
    background-color: orange; 
}

.Header {
    background-color: black; 
}

.HeaderItems {
    background-color: blue; 
}